## -*- coding: utf-8 -*-
			%if pageCount and pageCount > 1:
			<div id="page_bar_b" class="page_bar clear_bar">
				%for i in range(pageCount, 0, -1):
					%if i == currentPage:
					<div class="current_page">${i}</div>
					%else:
					<div><a href="${pagePath}page/${i}">${i}</a></div>
					%endif
				%endfor
			</div>
			%endif
        </div>
        <div id="footer" class="clear_bar">
            我看行由国产精品<a href="http://code.google.com/p/wokanblog/">我看部落格</a>及舶来品<a href="http://appengine.google.com/">App Engine</a>强力驱动。
        </div>
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
			try {
				var pageTracker = _gat._getTracker("UA-102907-6");
				pageTracker._trackPageview();
			} catch(err) {
			}
		</script>
    </body>
</html>